* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfaf7;
  color: #008080;
}

a {
  color: #084242;
  font-weight: bold;
}

div {
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  font-size: 3vmin;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}

.show-div {
  border: 1px solid #008080;
  text-align: center;
  padding: 4vmin 6vmin;
}

div > h3 {
  margin-bottom: 2vmin;
  font-size: 2rem;
}

div > h4 {
  margin-bottom: 1vmin;
  font-size: 1rem;
}

form {
  text-align: center;
  line-height: 3vmin;
}