* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfaf7;
  color: #008080;
}

a {
  color: #084242;
  font-weight: bold;
}

div {
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  font-size: 4vmin;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}


li {
  list-style-type: none;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
